/* ==================== ESTILOS MASTERPAGE ==================== */

/* ---- Global ---- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #333333CC;
}

/* ---- Navbar negro ---- */
.nav-container-negro {
    background: #000 !important;
    color: #fff !important;
}

/* ---- Sección contacto ---- */
    .contenedor-contacto {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .izquierda,
    .derecha {
        margin: 0;
        padding: 0;
        width: 48%;
    }

        .izquierda iframe {
            max-width: 100%;
        }

    /* ---- Dropdown Tienda con hover ---- */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

/* ==================== ESTILOS DEFAULT ==================== */

    .nav-container-negro {
        background: #000 !important;
        color: #fff !important;
    }

    .contenedor-contacto {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .izquierda, .derecha {
        margin: 0;
        padding: 0;
        width: 48%;
    }

    .izquierda iframe {
            max-width: 100%;
    }


    .module-image {
        position: relative;
        width: 100%;
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .cuadroImagen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://acdn-us.mitiendanube.com/stores/002/936/119/themes/style/img-596067975-1736528106-c4ae845a20c394ca2d2df71fa9c22e741736528107.png?1300625852");
        background-size: cover;
        background-position: center;
    }

    .Info {
        position: relative;
        width: 380px;
        left: 60px;
        background: rgba(255,255,255,0.85);
        padding: 25px;
        border-radius: 5px;
        text-align: center;
        z-index: 2;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }

        .Info h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .Info p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #444;
        }


.EnviosGratis {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("https://acdn-us.mitiendanube.com/stores/002/936/119/themes/style/2-slide-1762981352311-8082204111-7c0dcd00b0c00c64591f78739791089f1762981355-1920-1920.webp?1422681916");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-barra {
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.info-item {
    max-width: 280px;
}


.info-icono {
    font-size: 35px;
    margin-bottom: 10px;
}


.info-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 1px;
}


.info-item p {
    font-size: 14px;
    color: #777;
    margin: 0;
}






/* ==================== ESTILOS TIENDA ==================== */

    <!-- Estilos para flechas -->

    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 28px;
        border: none;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        z-index: 2;
    }

    .custom-arrow:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }

    .carousel-control-prev.custom-arrow {
        left: 10px;
    }

    .carousel-control-next.custom-arrow {
        right: 10px;
    }


    .btn-outline-dark {
        color: #fff; /* texto blanco */
        background-color: #000; /* fondo negro */
        border: 2px solid #000; /* borde negro */
        transition: all 0.3s ease;
    }

    .btn-outline-dark:hover {
        color: #000; /* texto negro */
        background-color: #fff; /* fondo blanco */
        border-color: #000; /* mantiene el borde negro */
    }

/* ==================== ESTILOS lISTAR MARCAS ==================== */
    .botonera {
        display: flex;
        gap: 16px; /* espacio entre los hijos */
    }

/* ==================== ESTILOS GESTION USUARIOS ==================== */
    .botonera {
        display: flex;
        gap: 16px;
    }

    .icon-btn {
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        background: none;
        border: none;
    }

/* ==================== ESTILOS DETALLE PRODUCTOS ==================== */
    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 28px;
        border: none;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        z-index: 2;
    }

    .custom-arrow:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }

    .carousel-control-prev.custom-arrow {
        left: 10px;
    }

    .carousel-control-next.custom-arrow {
        right: 10px;
    }


 