/* ==================== ESTILOS MASTERPAGE ==================== */

/* ---- Global ---- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #333333CC;
}

/* ---- Navbar negro ---- */
.nav-container-negro {
    background: #000 !important;
    color: #fff !important;
}

/* ---- Sección contacto ---- */
.contenedor-contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .izquierda,
    .derecha {
        margin: 0;
        padding: 0;
        width: 48%;
    }

        .izquierda iframe {
            max-width: 100%;
        }

    /* ---- Dropdown Tienda con hover ---- */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

/* ==================== ESTILOS DEFAULT ==================== */

    .nav-container-negro {
        background: #000 !important;
        color: #fff !important;
    }

    .contenedor-contacto {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .izquierda, .derecha {
        margin: 0;
        padding: 0;
        width: 48%;
    }

    .izquierda iframe {
            max-width: 100%;
    }


    .module-image {
        position: relative;
        width: 100%;
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .cuadroImagen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://acdn-us.mitiendanube.com/stores/002/936/119/themes/style/img-596067975-1736528106-c4ae845a20c394ca2d2df71fa9c22e741736528107.png?1300625852");
        background-size: cover;
        background-position: center;
    }

    .Info {
        position: relative;
        width: 380px;
        left: 60px;
        background: rgba(255,255,255,0.85);
        padding: 25px;
        border-radius: 5px;
        text-align: center;
        z-index: 2;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }

        .Info h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .Info p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #444;
        }


.EnviosGratis {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("https://acdn-us.mitiendanube.com/stores/002/936/119/themes/style/2-slide-1762981352311-8082204111-7c0dcd00b0c00c64591f78739791089f1762981355-1920-1920.webp?1422681916");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-barra {
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.info-item {
    max-width: 280px;
}


.info-icono {
    font-size: 35px;
    margin-bottom: 10px;
}


.info-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 1px;
}


.info-item p {
    font-size: 14px;
    color: #777;
    margin: 0;
}






/* ==================== ESTILOS TIENDA ==================== */

    <!-- Estilos para flechas -->

    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 28px;
        border: none;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        z-index: 2;
    }

    .custom-arrow:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }

    .carousel-control-prev.custom-arrow {
        left: 10px;
    }

    .carousel-control-next.custom-arrow {
        right: 10px;
    }


    .btn-outline-dark {
        color: #fff; /* texto blanco */
        background-color: #000; /* fondo negro */
        border: 2px solid #000; /* borde negro */
        transition: all 0.3s ease;
    }

    .btn-outline-dark:hover {
        color: #000; /* texto negro */
        background-color: #fff; /* fondo blanco */
        border-color: #000; /* mantiene el borde negro */
    }

/* ==================== ESTILOS lISTAR MARCAS ==================== */
    .botonera {
        display: flex;
        gap: 16px; /* espacio entre los hijos */
    }

/* ==================== ESTILOS GESTION USUARIOS ==================== */
    .botonera {
        display: flex;
        gap: 16px;
    }

    .icon-btn {
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        background: none;
        border: none;
    }

/* ==================== ESTILOS DETALLE PRODUCTOS ==================== */
    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 28px;
        border: none;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        z-index: 2;
    }

    .custom-arrow:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }

    .carousel-control-prev.custom-arrow {
        left: 10px;
    }

    .carousel-control-next.custom-arrow {
        right: 10px;
    }


/* ==================== ESTILOS SIGNIN ==================== */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026;
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

    .bd-mode-toggle .bi {
        width: 1em;
        height: 1em;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }


/* ==================== ESTILO FILTRO CATEGORIA Y MARCA EN VENTANA DE TIENDA ==================== */

.filtros-sidebar {
    width: 260px;
    position: relative;
}

/* Contenedor scrolleable REAL */
.filtro-scroll {
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    padding-right: 6px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.filtro h3 {
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tag {
    display: block !important;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 8px 15px;
    margin-bottom: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #222;
}

.tag:hover {
    background: #e1e1e1;
}


/* =================== FILTROS SUPERIORES TIENDA ============================ */


.filtros-superiores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

/* Caja del buscador */
.search-box {
    width: 350px;
}

/* Icono del buscador */
.search-box .input-group-text {
    border-radius: 20px 0 0 20px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid #ccc;
}

    /* Input del buscador */
    .search-box .form-control {
        border-radius: 0 20px 20px;
        border: 1px solid #ccc;
        height: 40px;
        font-size: 14px;
    }

/* Botones general de filtros */
.btn-filtro {
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 14px;
    width: auto;
}


.filtro-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

/* Contenedor del dropdown */
.dropdown-container {
    width: 260px;
    text-align: center;
}

/* Contenedor del botón Limpiar */
.limpiar-container {
    width: 260px;
    text-align: center;
    margin-bottom: 20px;
}

/* Dropdown orden de precios */
.ddlOrdenPrecio {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    font-size: 14px;
}

/* Botón Limpiar Filtros debajo del dropdown */
.limpiar-container .btn-filtro {
    width: 100% ;
    border-radius: 20px ;
}

/* ======== RUTA DE NAVEGACION ===========*/

.breadcrumb-container {
    margin: 25px 0;
    font-size: 14px;
    
}

.breadcrumb-container .current {
    font-weight: 600;
    color: #495057; /* gris más fuerte */
}

.bc-sep {
    margin: 0 6px;
    color: #6c757d;
    font-weight: 700;
}

.breadcrumb-container a,
.breadcrumb-container a:visited,
.breadcrumb-container a:link {
    color: #6c757d; 
    text-decoration: none;
}
